div {
  float: left;
  min-height: 200px;
  margin: 10px;
  padding: 20px;

  &:first-of-type {
    border: 1px solid blue;
    width: 200px;
  }
  &:nth-of-type(2) {
    border: 1px solid red;
    width: 400px;
    img {
      height: 85px;
      margin: 5px;
      border: 1px solid gray;
      cursor: pointer;

      &:hover {
        background-color: red;
      }
    }
  }
}
